<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>爱阅书城---一个读书爱好者的小天地</title>
    <meta name="Keywords" content="爱阅商城">
    <meta name="Description"
          content="一个读书爱好者的小天地">
    <meta property="wb:webmaster" content="3a008ad947166307">
    <link rel="stylesheet" type="text/css" href="/css/base_w1200.css?v=2016071333">
    <link rel="stylesheet" type="text/css" href="/css/index.css?v=2016071312">
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/global_index.js"></script>
    <style id="style-1-cropbar-clipper">
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255, 255, 255, .38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style>
</head>
<body>
<!-- header start -->
<div th:replace="./commons/header::header"></div>
<!-- header end -->
<div th:replace="./commons/mainmenu::mainmenu"></div>
<!----row1------->
<div class="slide_show" id="slide_show">
    <div class="indexW">
        <div id="index_slide" class="slide_wrap">
            <ol>
                <li th:each="node,nodeStat : ${ad1List}">
                    <a th:name="'sfbest_hp_hp_focus_'+${nodeStat.index}" class="fore_pic trackref" th:href="${node.url}"
                       target="_blank">
                        <img id="lunbo_1" th:alt="${node.title}" th:src="${node.pic}">
                    </a>
                </li>
            </ol>
        </div>
        <div class="rSide">
            <a name="sfbest_hp_hp_focus_right-ad1" class="a-img r-img1 trackref"
               href="http://localhost:8083/search.html?keyword=%E7%A6%8F%E5%B0%94%E6%91%A9%E6%96%AF"
               target="_blank">
                <img alt="热搜--福尔摩斯" src="/images/html/ddf3f66b114f3a3bfbbe0b47693cdbf0.jpg">
                <div class="rmask"></div>
            </a>
            <a name="sfbest_hp_hp_focus_right-ad2" class="a-img r-img2 trackref"
               href="http://localhost:8083/search.html?keyword=%E6%9B%BE%E5%9B%BD%E6%BD%98"
               target="_blank">
                <img alt="推荐--曾国潘" src="/images/html/51e357022c1f826f13211222831a4b13.jpg">
                <div class="rmask"></div>
            </a>


            <a name="sfbest_hp_hp_focus_right-ad3" class="a-img r-img3 trackref"
               href="http://localhost:8083/search.html?keyword=%E4%BA%BA%E5%B7%A5%E6%99%BA%E8%83%BD"
               target="_blank">
                <img alt="推荐--人工智能" src="/images/html/838abc2055e36f423701de255bbc9914.jpg">
                <div class="rmask"></div>
            </a>
        </div>
    </div>
    <ul class="none" id="lunboNum">
        <li th:each="node, nodeStat : ${ad1List}" th:class="${nodeStat.index==0} ? 'cur'" th:text="${nodeStat.index+1}">
        </li>
    </ul>
    <div class="indexbg" id="indexbg">
        <dl style="left: -1903px;">
            <dd style="width: 1903px; background: rgb(20, 16, 13);"></dd>
            <dd style="width: 1903px; background: rgb(119, 96, 86);"></dd>
            <dd style="width: 1903px; background: rgb(17, 12, 55);"></dd>
            <dd style="width: 1903px; background: rgb(239, 244, 248);"></dd>
            <dd style="width: 1903px; background: rgb(231, 32, 37);"></dd>
            <dd style="width: 1903px; background: rgb(128, 29, 92);"></dd>
            <dd style="width: 1903px; background: rgb(117, 144, 1);"></dd>
            <dd style="width: 1903px; background: rgb(253, 213, 29);"></dd>
        </dl>
    </div>
</div>
<!----row1 end------->
<!-- 口碑甄选 start -->
<div class="indexW mt1">
    <div class="bestbuy">
        <div class="b_left">
            <h2>经典必读<span></span></h2>
            <ul class="bbig" id="bigPerfect">
                <li class="price_list0"
                    id="cx_b_215383_0"><a
                        href="http://localhost:8084/item/10000001.html"
                        title="间谍之死" target="_blank"><img class="lazy"
                                                          src="/images/html/95256f5b2857ec28914f631532508d76.jpg"
                                                          style="display: inline;"></a>
                    <div class="gBtn p-btn bbtn" style="top: 260px;">
                        <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                    </div>
                    <div class="bprice" id="priceK_b_215383_0">
                        <span><sup>￥</sup></span>27.0
                    </div>
                </li>
                <li class="price_list0"
                    id="cx_b_57111_0"><a
                        href="http://localhost:8084/item/10000006.html"
                        title="锁脑：如何瞬间、深度、持久地影响他人 " target="_blank"><img class="lazy"
                                                                         src="/images/html/49111b8189bf71370cdb145f8fdb1195.jpg"
                                                                         style="display: inline;"></a>
                    <div class="gBtn p-btn bbtn" style="top: 260px;">
                        <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                    </div>
                    <div class="bprice" id="priceK_b_57111_0">
                        <span><sup>￥</sup></span>28.0
                    </div>
                </li>
                <li class="price_list0"
                    id="cx_b_5536_0"><a
                        href="http://localhost:8084/item/10000018.html"
                        title="人生海海" target="_blank">
                    <img class="lazy"
                         alt="人生海海"
                         src="/images/html/cf33d7d36f1128577782ded21fe812a9.jpg"
                         style="display: inline;"></a>
                    <div class="gBtn p-btn bbtn">
                        <a pid="5536"
                           href="javascript:void(0)" indexflag="1">加入购物车</a>
                    </div>
                    <div class="bprice" id="priceK_b_5536_0">
                        <span><sup>￥</sup></span>37.0
                    </div>
                </li>
                <li class="price_list0" goods="12045" eid="b_12045_0"
                    id="cx_b_12045_0"><a
                        href="http://localhost:8084/item/10000038.html"
                        title="情商" target="_blank">
                    <img class="lazy"
                         alt="情商"
                         src="/images/html/2a3ba6ffb33d8fca0dc848f94e3d99d8.jpg"
                         style="display: inline;"></a>
                    <div class="gBtn p-btn bbtn">
                        <a pid="12045"
                           href="javascript:void(0)" indexflag="1">加入购物车</a>
                    </div>
                    <div class="bprice" id="priceK_b_12045_0">
                        <span><sup>￥</sup></span>28.0
                    </div>
                </li>
            </ul>
            <ul class="bsmall" id="smallPerfect">
                <li class="price_list0" goods="37194" eid="b_37194_1"
                    id="cx_b_37194_1"><a
                        href="http://localhost:8084/item/10000053.html"
                        title="三体：全三册 刘慈欣代表作，亚洲首部“雨果奖”获奖作品！" target="_blank"><img class="lazy"
                                                                                  src="/images/html/c3449a684bebe21f5b6c6c79e46791ff.jpg"
                                                                                  style="display: inline;"></a>
                    <div class="gBtn p-btn bbtn" style="top: 210px;">
                        <a href="javascript:void(0)">加入购物车</a>
                    </div>
                    <div class="bprice" id="priceK_b_37194_1">
                        <span><sup>￥</sup></span>49.0
                    </div>
                </li>
                <li class="price_list0"
                    id="cx_b_219085_1"><a
                        href="http://localhost:8084/item/10000374.html"
                        title="白鹿原" target="_blank"><img
                        class="lazy"
                        src="/images/html/042cc65a4fb9899878f2f37235ca1793.jpg"
                        style="display: inline;"></a>
                    <div class="gBtn p-btn bbtn" style="top: 210px;">
                        <a href="javascript:void(0)">加入购物车</a>
                    </div>
                    <div class="bprice" id="priceK_b_219085_1">
                        <span><sup>￥</sup></span>18.0
                    </div>
                </li>
                <li class="price_list0"
                    id="cx_b_55213_1"><a
                        href="http://localhost:8084/item/10000403.html"
                        title="1984" target="_blank"><img class="lazy"
                                                          alt="爱之湾 桃红莫斯卡托甜起泡酒 750ml"
                                                          src="/images/html/c11e0d59289782b09ea1cbcb98070017.jpg"
                                                          style="display: inline;"></a>
                    <div class="gBtn p-btn bbtn">
                        <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                    </div>
                    <div class="bprice" id="priceK_b_55213_1">
                        <span><sup>￥</sup></span>14.0
                    </div>
                </li>
                <li class="price_list0" goods="167461" eid="b_167461_1"
                    id="cx_b_167461_1"><a
                        href="http://localhost:8084/item/10000455.html"
                        title="东野圭吾：悲剧人偶" target="_blank">
                    <img class="lazy"
                         alt="东野圭吾：悲剧人偶"
                         src="/images/html/7cc96c14e10f6ed8db28b4b1efdfdb07.jpg"
                         style="display: inline;"></a>
                    <div class="gBtn p-btn bbtn">
                        <a href="javascript:void(0)">加入购物车</a>
                    </div>
                    <div class="bprice" id="priceK_b_167461_1">
                        <span><sup>￥</sup></span>24.0
                    </div>
                </li>
            </ul>
        </div>
        <!-- 口碑甄选 end -->
        <div class="rSide1">

            <div class="rImg2">
                <a name="sfbest_hp_hp_news_right-ad" class="trackref" href="http://localhost:8084/item/10000036.html"
                   target="_blank"><img salt="9.2-9.5" src="/images/html/751d2091c008c2a49c1934545730f041.jpg"></a>
            </div>

            <div class="sfNews">
                <div class="rTitle"><h2>相关新闻</h2><a href="http://www.chinanews.com/" target="_blank"
                                                    class="more">更多&gt;</a></div>
                <ul>
                    <li><a name="sfbest_hp_hp_news_1" href="http://www.chinanews.com/tp/hd2011/2019/04-02/875807.shtml"
                           target="_blank" class=" red trackref"
                           title="一张A4纸带你领略人间四月天">一张A4纸带你领略人间四月天</a></li>
                    <li><a name="sfbest_hp_hp_news_2" href="http://www.chinanews.com/gn/2019/04-02/8798017.shtml"
                           target="_blank" class=" trackref"
                           title="这些重大问题，习近平的回答掷地有声">这些重大问题，习近平的回答掷地有声</a></li>
                    <li><a name="sfbest_hp_hp_news_3" href="http://www.chinanews.com/gj/2019/04-02/8798215.shtml"
                           target="_blank" class=" trackref"
                           title="日本新年号共有6个备选方案 一半出自日本书籍 ">日本新年号共有6个备选方案 一半出自日本书籍 </a></li>
                    <li><a name="sfbest_hp_hp_news_4" href="http://www.chinanews.com/cul/2019/04-01/8797307.shtml"
                           target="_blank" class=" trackref"
                           title="第四届“中国诵读艺术家颁奖盛典”在北京举行">第四届“中国诵读艺术家颁奖盛典”在北京举行</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</div>
<!--楼层 start-->
<div class="indexW mt2 full_ad" style="width:1190px;padding-left:10px;">
    <a name="sfbest_hp_hp_banner_1" class="trackref"
       href="http://localhost:8084/item/10002178.html"
       target="_blank"><img alt="食事"
                            class="lazy"
                            src="/images/html/8f42d6d2deead3da7d50c8a702a3c939.jpg"
                            style="display: inline;"></a>
</div>
<div class="indexW mt2 ie6 fresh">
    <div class="category">
        <ul class="mTitle">
            <li>
                <div class="cir"></div>
                <h2>
                    <em></em>
                    <a name="sfbest_hp_hp_floor1_floor-category1" class="trackref"
                       href="http://localhost:8083/list.html?cid=14" target="_blank">外语</a>&nbsp;&nbsp;<a
                        name="sfbest_hp_hp_floor1_floor-category2" class="trackref"
                        href="http://localhost:8083/list.html?cid=21" target="_blank">考研</a>
                </h2>
            </li>
        </ul>
        <div class="lCont"><a name="sfbest_hp_hp_floor1_left-ad" class="trackref"
                              href="http://localhost:8084/item/10000430.html"
                              target="_blank">
            <img alt="8.30-9.5" class="lazy" src="/images/html/26336113289bf7273823080488a9d200.jpg"
                 style="display: inline;"></a></div>
    </div>
    <div class="sfRight">
        <div class="subCont">
            <ul class="pList" id="floor-gap-1">
                <li class="price_list1"
                    id="cx_l_218031_7_297">
                    <div class="pImg">
                        <a
                                href="http://localhost:8084/item/10000478.html"
                                target="_blank" title="第七天"><img class="lazy"
                                                                 alt="第七天"
                                                                 src="/images/goods/160x160-1.jpg"
                                                                 style="display: block;"></a>
                        <div class="gBtn p-btn">
                            <a href="javascript:void(0)">加入购物车</a>
                        </div>
                    </div>
                    <div class="title-a">
                        <a
                                href="http://localhost:8084/item/10000478.html"
                                target="_blank" title="第七天">第七天</a>
                    </div>
                    <div class="price" id="priceL_l_218031_7_297">
                        <b>￥19.0</b>
                    </div>
                </li>
                <li class="price_list1" eid="l_218155_7_297" goods="218155"
                    id="cx_l_218155_7_297">
                    <div class="pImg">
                        <a
                                href="http://localhost:8084/item/10000495.html"
                                target="_blank" title="浮生六记"><img
                                class="lazy"
                                alt="浮生六记"
                                src="/images/goods/160x160-2.jpg"
                                style="display: block;"></a>
                        <div class="gBtn p-btn">
                            <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                        </div>
                    </div>
                    <div class="title-a">
                        <a
                                href="http://localhost:8084/item/10000495.html"
                                target="_blank" title="浮生六记">浮生六记</a>
                    </div>
                    <div class="price" id="priceL_l_218155_7_297">
                        <b>￥13.0</b>
                    </div>
                </li>
                <li class="price_list1" eid="l_236853_7_297" goods="236853"
                    id="cx_l_236853_7_297">
                    <div class="pImg">
                        <a
                                href="http://localhost:8084/item/10000491.html"
                                target="_blank" title="诗经">
                            <img class="lazy"
                                 alt="诗经"
                                 src="/images/goods/160x160-3.jpg"
                                 style="display: block;"></a>
                        <div class="gBtn p-btn">
                            <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                        </div>
                    </div>
                    <div class="title-a">
                        <a
                                href="http://localhost:8084/item/10000491.html"
                                target="_blank" title="诗经">诗经</a>
                    </div>
                    <div class="price" id="priceL_l_236853_7_297">
                        <b>￥67.0</b>
                    </div>
                </li>
                <li class="price_list1" eid="l_218955_7_297" goods="218955"
                    id="cx_l_218955_7_297">
                    <div class="pImg">
                        <a
                                href="http://localhost:8084/item/10000499.html"
                                target="_blank" title="傅雷家书"><img class="lazy"
                                                                  alt="傅雷家书"
                                                                  src="/images/goods/160x160-4.jpg"
                                                                  style="display: block;"></a>
                        <div class="gBtn p-btn">
                            <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                        </div>
                    </div>
                    <div class="title-a">
                        <a
                                href="http://localhost:8084/item/10000499.html"
                                target="_blank" title="傅雷家书">傅雷家书</a>
                    </div>
                    <div class="price" id="priceL_l_218955_7_297">
                        <b>￥49.0</b>
                    </div>
                </li>
                <li class="price_list1"
                    id="cx_l_236863_7_297">
                    <div class="pImg">
                        <a
                                href="http://localhost:8084/item/10000522.html"
                                target="_blank" title="山海经"><img
                                class="lazy"
                                alt="山海经"
                                src="/images/goods/160x160-5.jpg"
                                style="display: block;"></a>
                        <div class="gBtn p-btn">
                            <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                        </div>
                    </div>
                    <div class="title-a">
                        <a
                                href="http://localhost:8084/item/10000522.html"
                                target="_blank" title="山海经">山海经</a>
                    </div>
                    <div class="price" id="priceL_l_236863_7_297">
                        <b>￥33.0</b>
                    </div>
                </li>
                <li class="price_list1"
                    id="cx_l_236871_7_297">
                    <div class="pImg">
                        <a
                                href="http://localhost:8084/item/10000526.html"
                                target="_blank" title="三国演义">
                            <img class="lazy"
                                 alt="三国演义"
                                 src="/images/goods/160x160-6.jpg"
                                 style="display: block;"></a>
                        <div class="gBtn p-btn">
                            <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                        </div>
                    </div>
                    <div class="title-a">
                        <a
                                href="http://localhost:8084/item/10000526.html"
                                target="_blank" title="三国演义">三国演义</a>
                    </div>
                    <div class="price" id="priceL_l_236871_7_297">
                        <b>￥24.0</b>
                    </div>
                </li>
                <li class="price_list1"
                    id="cx_l_218073_7_297">
                    <div class="pImg">
                        <a
                                href="http://localhost:8084/item/10000533.html"
                                target="_blank" title="流浪地球">
                            <img class="lazy"
                                 alt="流浪地球"
                                 src="/images/goods/160x160-7.jpg"
                                 style="display: block;"></a>
                        <div class="gBtn p-btn">
                            <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                        </div>
                    </div>
                    <div class="title-a">
                        <a
                                href="http://localhost:8084/item/10000533.html"
                                target="_blank" title="流浪地球">流浪地球</a>
                    </div>
                    <div class="price" id="priceL_l_218073_7_297">
                        <b>￥37.0</b>
                    </div>
                </li>
                <li class="price_list1"
                    id="cx_l_215405_7_297">
                    <div class="pImg">
                        <a
                                href="http://localhost:8084/item/10000547.html"
                                target="_blank" title="哈利波特">
                            <img class="lazy"
                                 alt="哈利波特"
                                 src="/images/goods/160x160-8.jpg"
                                 style="display: block;"></a>
                        <div class="gBtn p-btn">
                            <a href="javascript:void(0)" indexflag="1">加入购物车</a>
                        </div>
                    </div>
                    <div class="title-a">
                        <a
                                href="http://localhost:8084/item/10000547.html"
                                target="_blank" title="哈利波特">哈利波特</a>
                    </div>
                    <div class="price" id="priceL_l_215405_7_297">
                        <b>￥306.0</b>
                    </div>
                </li>
            </ul>
        </div>
        <div class="redge">
            <ul class="rHot">
                <li><a name="sfbest_hp_hp_floor1_Keywords1" class="trackref"
                       href="http://localhost:8084/item/10001011.html"
                       target="_blank">周恩来</a></li>
                <li><a name="sfbest_hp_hp_floor1_Keywords2" class="trackref"
                       href="http://localhost:8084/item/10000937.html"
                       target="_blank">苏东坡</a></li>
                <li><a name="sfbest_hp_hp_floor1_Keywords3" class="trackref"
                       href="http://localhost:8084/item/10002498.html"
                       target="_blank">江泽民</a></li>
                <li><a name="sfbest_hp_hp_floor1_Keywords4" class="trackref"
                       href="http://localhost:8084/item/10002715.html"
                       target="_blank">尼采</a></li>
                <li><a name="sfbest_hp_hp_floor1_Keywords5" class="trackref"
                       href="http://localhost:8084/item/10000410.html"
                       target="_blank">居里夫人</a></li>
                <li><a name="sfbest_hp_hp_floor1_Keywords6" class="trackref"
                       href="http://localhost:8084/item/10002986.html"
                       target="_blank">林徽因</a></li>
                <li><a name="sfbest_hp_hp_floor1_Keywords7" class="trackref"
                       href="http://localhost:8084/item/10001716.html"
                       target="_blank">邓小平</a></li>
                <li><a name="sfbest_hp_hp_floor1_Keywords8" class="trackref"
                       href="http://localhost:8084/item/10001759.html"
                       target="_blank">梵高</a></li>
                <li><a name="sfbest_hp_hp_floor1_Keywords9" class="trackref"
                       href="http://localhost:8084/item/10002940.html" target="_blank">杨绛</a></li>
            </ul>
            <div class="clr"></div>
            <div class="rimg">

                <a name="sfbest_hp_hp_floor1_right-ad" class="ht1 trackref"
                   href="http://localhost:8083/list.html?cid=11"
                   target="_blank"><img alt="8.30-9.5" class="lazy"
                                        src="/images/html/1dd1130a9c0103f6ec8a13fa13f27641.jpg"
                                        style="display: inline;"></a>
                <div class="rbutton"><a href="http://localhost:8083/list.html?cid=11" target="_blank"></a></div>
            </div>
        </div>
    </div>
    <span class="clr"></span>
</div>
<!--楼层 end -->

<!-- footer start -->
<div th:replace="./commons/footer::footer"></div>
<!-- footer end -->
</body>
</html>