<link href="/js/kindeditor-4.1.10/themes/default/default.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/js/kindeditor-4.1.10/kindeditor-all-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/kindeditor-4.1.10/lang/zh_CN.js"></script>
<div style="padding:10px 10px 10px 10px">
    <table cellpadding="5" id="itemEditWindow">
        <tr>
            <td>订单状态:</td>
            <td>
                <input type="hidden" name="orderId" id="orderId1"/>
                <a href="javascript:void(0)" class="easyui-linkbutton selectItemCat" onclick="submitForm(1)">未付款</a>
                <a href="javascript:void(0)" class="easyui-linkbutton selectItemCat" onclick="submitForm(2)">已付款</a>
                <a href="javascript:void(0)" class="easyui-linkbutton selectItemCat" onclick="submitForm(3)">未发货</a>
                <a href="javascript:void(0)" class="easyui-linkbutton selectItemCat" onclick="submitForm(4)">已发货</a>
                <a href="javascript:void(0)" class="easyui-linkbutton selectItemCat" onclick="submitForm(5)">订单完成</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function submitForm(a) {
        $.post("http://localhost:8081/order/update?status="+a+"&orderId=" + $("#orderId1").attr("value"), function (data) {
            if (data.status == 200) {
                $.messager.alert('提示', '修改订单信息成功!', 'info', function () {
                    $("#itemEditWindow").window('close');
                });
            }else{
                $.messager.alert('提示', '修改订单信息失败!', 'info', function () {
                    $("#itemEditWindow").window('close');
                });
            }
        });
    }
</script>
