*.class

#packagefile
*.war
*.ear

#kdiff3ignore
*.orig

#mavenignore
target/

#ideaignore
.idea/
/idea/
*.ipr
*.iml
*.iws

#tempfile
*.log
*.cache
*.diff
*.patch
*.tmp

#systemignore
.DS_Store
Thumbs.db
