<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.neusoft.loveread.search.mapper.SearchItemMapper">
    <select id="getItemList" resultType="cn.neusoft.loveread.common.pojo.SearchItem">
        SELECT
        a.id,
        a.title,
        a.sell_point,
        a.price,
        a.image,
        b.`name` category_name
        FROM
        `tb_item` a
        LEFT JOIN tb_item_cat b ON a.cid = b.id
        WHERE a.`status`=1
    </select>
    <select id="getItemById" parameterType="long" resultType="cn.neusoft.loveread.common.pojo.SearchItem">
        SELECT
        a.id,
        a.title,
        a.sell_point,
        a.price,
        a.image,
        b.`name` category_name
        FROM
        `tb_item` a
        LEFT JOIN tb_item_cat b ON a.cid = b.id
        WHERE a.`status`=1
        AND a.id=#{itemId}
    </select>
    <select id="getItemListByCategory" parameterType="long" resultType="cn.neusoft.loveread.common.pojo.SearchItem">
        SELECT
        id,title,sell_point,price,image
        FROM
         `tb_item`
        WHERE cid = #{cid,jdbcType=BIGINT}
    </select>
    <select id="getCategoryName" resultType="cn.neusoft.loveread.pojo.TbItemCat">
        SELECT id,name
        FROM tb_item_cat
    </select>
    <select id="getChildNodeByCid" resultType="java.lang.Long">
        SELECT id
        FROM tb_item_cat
        WHERE parent_id = #{cid}
    </select>
    <select id="getUnionNode" resultType="java.lang.Long">
        SELECT id
        FROM tb_item_cat
        WHERE is_parent = 1
    </select>
</mapper>