<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <!--shortcut start-->
    <div th:replace="./commons/shortcut::shortcut"></div>
    <!--shortcut end-->
    <div id="header">
        <div class="header_inner">
            <div class="logo">
                <a href="http://localhost:8082/index" class="logoleft"></a>
                <h1 style="text-indent:-9999px">爱阅书城</h1></a>
                <div class="logo-text"><img src="/images/logo_word.jpg"></div>
            </div>
        </div>
    </div>
</div>
</html>